/.quarto
*_files/
/_site

.ipynb_checkpoints/
*/.ipynb_checkpoints/
.virtual_documents/

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
bin/
include/
lib/
share/

.env
.env.secret

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Ehthumbs.db
Desktop.ini
**/*.quarto_ipynb

/.quarto/
